# Dependency directory
node_modules/

# TypeScript build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Test coverage output
coverage/

# Temporary & Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Caches
.cache/
.eslintcache
